img {
  border-radius: 50%; 
  width: 35%; /* 幅を35%に縮小 */
  height: 35%; /* 高さを35%に縮小 */
  }
  section {
  border-width: 3px; 
  border-color: gray; 
  border-style: solid; 
  border-radius: 8px; 
  padding: 16px; 
  margin-bottom: 8px; 
  background-image:url(img/背景.jpg);
  background-size: cover;
  }

  body {
  text-align: center;
  }