img {
  border-radius: 50%; 
  width: 50%; /* 幅を50%に縮小 */
  height: 50%; /* 高さを50%に縮小 */
  }
  section {
  border-width: 3px; 
  border-color: gray; 
  border-style: solid; 
  border-radius: 8px; 
  padding: 16px; 
  margin-bottom: 8px; 
  background-image:url(img/背景.jpg);
  }

  body {
  text-align: center;
  }